<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="orangeHRM.TestCases.TC1_Login_PageTest"/>
      <class name="orangeHRM.TestCases.TC2_Home_PageTest_CreateData"/>
      <class name="orangeHRM.TestCases.TC3_Home_PageTest"/>
      <class name="orangeHRM.TestCases.TC4_Dashboard_PageTest"/>
      <class name="orangeHRM.TestCases.TC5_Leave_PageTest"/>
      <class name="orangeHRM.TestCases.TC6_Delete_UsersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
